.login-button{
    background-color: #B68C5A;
    color: #fff;
    font-size:14px ;
    padding:8px 20px ;
    border-radius: 50px;
    text-decoration: none;
    transition:0.4s  ;
}
.login-button:hover{
    background-color: chartreuse;
}