.login-button{
    background-color: #B68C5A;
    color: #fff;
    font-size:14px ;
    padding:8px 20px ;
    border-radius: 50px;
    text-decoration: none;
    transition:0.4s  ;
}
.login-button:hover{
    background-color: chartreuse;
}
/* benner section */
/* .carousel-caption{
    width: 682px;
    height: 343px;
    top: 267px;
    left: 624px;
    gap: 0px;
    border-radius: 8px 0px 0px 0px;
    opacity: 0px;

} */
.test-color{
    color: white;
    font-size:72px ;
    width:800px;
}
.text-banner{
    color: rgb(110, 106, 106);
    font-size:26px ;
    /* width:400px ; */
}
.fast-section{
    text-align: center;
}
.new-ss{
    display: flex;
    flex-direction: column
}
.fast-sections{
    
    align-items:center;
    margin-top:55px ;
    border-top:5px ;
    width:401px ;
    height:499px ;
    text-align: center;
    background-color: antiquewhite;
    align-items: center;
}
/* fghjkkjhgf dfgh */
.babu-tt{
    display: grid;
    justify-content: center;
    grid-template-columns: repeat(3,1fr);
    text-align:center;
    align-items: center;
   
    
    
    
    
}
.babu-ff{
    padding: 5px ;
    background-color: #ccc9c9;
    border-radius: 5px;
    gap: 5px;
    width:401px ;
    height:auto;
    align-items: center;
    margin-top: 66px;
}
.saiful{
    align-items:center;
    /* margin-bottom: 166px; */
}
.carousel-caption{
    margin-bottom: 166px;
}
.imsgesc{
    width:70px ;
    height:70px ;
}
.rtvsd-ssv{
    display: flex;
    justify-content:center;

}
.eee-ttt{
    margin-top: 55px;
}
.mamamamam{
    

    background-color: #ccc9c9;
    width: 285px;
    height: 285px;
    align-items: center;
    margin-top: 55px;
    padding:55px ;
    border-top:55px ;
}
.fffffff{
    display: grid;
    justify-content: first baseline;
    grid-template-columns: repeat(2,1fr);
    text-align:center;
    align-items: center;
}
.ggggg{
    display: flex;
    justify-content: center;
}
.from{
    gap: 55px;
    border: 55px;
    margin-right:55px ;
}
.name{
    background-color: #ccc9c9;
    width:570px ;
    height: 72px;
    gap: 55px;
    margin-top: 55px; 
    margin-left:55px ;
}
.email{
    background-color: #ccc9c9;
    width:570px ;
    height: 72px;
    gap: 55px;
    margin-top: 55px;
    margin-left:55px ;
}
.Subject{
    background-color: #ccc9c9;
    width:570px ;
    height: 72px;
    gap: 55px;
    margin-top: 55px;
    margin-left:55px ;
}
.Your-Message{
    background-color: #ccc9c9;
    width:570px ;
    height: 162px;
    gap: 55px;
    margin-top: 55px;
    margin-left:55px ;
}
.last-btn{
    background-color: #B68C5A;
    color: white;
    width:570px ;
    height: 72px;
    
    margin-top: 55px;
    margin-left:55px  ;
}
